#sign-in {
  @extend %sign-layout;

  img {
    width: 20rem;
    height: auto;
  }

  form {
    @extend %sign-form;

    a {
      cursor: pointer;
      margin-top: 1rem;
      text-align: center;
      font-size: 0.8rem;
      text-decoration: underline;
    }
  }
}
