#sign-up {
  @extend %sign-layout;

  img {
    width: 20rem;
    height: auto;
  }

  .form-container {
    margin-top: 2rem;
    position: relative;
  }

  .back-btn {
    position: absolute;
    display: flex;
    align-items: center;
    top: 15px;
    left: 10px;
    color: $border-gray;
    filter: contrast(0.3);

    &:link {
      text-decoration: none;
    }
    &:visited {
      text-decoration: none;
    }
    &:hover {
      text-decoration: none;
    }
    &:active {
      text-decoration: none;
    }

    svg {
      height: 19px;
      width: 19px;
    }

    span {
      flex: 1;
      font-size: 0.8rem;
      font-weight: 200;
    }
  }

  form {
    @extend %sign-form;
  }
}

#sign-up-modal {
  width: 300px;
  text-align: center;
  padding: 1.5rem 1.5rem 0.8rem 1.5rem;

  p {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  button {
    @extend %default-button;
    margin-top: 0.5rem;
  }
}
