%default-button {
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $blue;
  color: $white;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;

  &:hover:enabled {
    filter: brightness(1.1);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

%sign-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 2rem 2rem 2rem;
  border: 1px solid $border-gray;
  border-radius: 0.5rem;

  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid $border-gray;
    border-radius: 0.3rem;
    font-size: 0.8rem;

    &:focus {
      outline: none;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
      border-color: $blue;
    }
  }

  p {
    color: $red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  button {
    @extend %default-button;
  }
}

%sign-layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

%todo-button {
  background-color: $blue;
  color: $white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 0.8rem;
  font-size: 0.9rem;
  transition: background-color 0.3s;

  &:hover {
    filter: brightness(0.7);
  }
}
